.title {
    color: var(--Text);
    font-family: MiSans;
    font-size: 24px;
    font-style: normal;
    font-weight: 520;
    line-height: normal;
}

:root {
    --background: rgba(0, 0, 0, 0.80);
    --Text: #FFFFFF
}